* {
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background-color: rgb(30, 31, 31);
    font-family: "Poppins", sans-serif;
    color: blanchedalmond;
}

#containerMain {
    border: solid 1px blanchedalmond;
    border-radius: 1rem;
    display: flex;
    flex-direction: row;
    max-width: 70%;
    margin: auto;
    padding: 2.5rem;
    overflow: hidden;
}

.taskInput {
    width: 300px;
    padding: 6px;
    border-radius: 0.3rem;
    margin-bottom: 12px;
}

.dataInput {
    width: 300px;
    padding: 6px;
    border-radius: 0.3rem;
}

#formContainer {
    width: 50%;
}

#todoContainer {
    width: 50%;
}

button {
    background-color: #04AA6D;
    /* Green */
    border: none;
    border-radius: 10px;
    color: white;
    padding: 7.5px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 1rem;
    transition-duration: 0.4s;
    cursor: pointer;
}

button:hover {
    background-color: rgb(168, 138, 91);
}

ul {
    list-style-type: none;
    padding-left: 0;
}

li {
    margin-bottom: 10px;
}

.feed{
    font-size: 0.8rem;
}

.footerGoloso {
    border: solid 1px #04AA6D;
    background-color: #04aa6d38;
    border-radius: 0.7rem;
    padding: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}