*{
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    background-color: #504f4f;
    color: white;
}

#containerMain{
    display: flex;
    flex-direction: row;
    margin: auto; 
    max-width: 70%; 
    padding: 2.5rem 0rem;
    border: solid 0.5rem cyan;
}

#formContainer{
    width: 50%;
}

#todoContainer{
    width: 50%;
}