* {
    box-sizing: border-box;
}

body {
    background-color: rgba(30, 31, 31, 0.713);
}

#containerMain {
    border: solid rgb(255, 255, 255);
    border-radius: 10px;
    
    display: flex;
    flex-direction: row;
    max-width: 70%;
    margin: auto;
    padding: 3rem 3rem;
}

#formContainer {
    flex: 1;
}

#todoContainer {
    width: 50%;
}
#btnInserisci{
    border-bottom: 5px solid;
    padding: 10px 5px;
    margin: 10px;
}